body{
    /*background-color: #87CEFA;*/
    background-image: url("../images/PokecordSpawn.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
h3{
    text-align: center;
}
p.first {
    padding: 10px;
    border: 2px solid blue;
}
    p.second {
    padding: 10px;    
    border-style: solid;
    border-width: 2px;
    border-color: #FF6600;
} 
p.third {
    padding: 10px;    
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 153, 0);
}
p.none {border-style: none;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.hidden {border-style: hidden;}
/*In CSS, it is possible to specify different borders for different sides, using
the following properties: border-top-style, border-right-style, border-bottom-style,
and border-left-style for the corresponding sides.*/
div {
    border: 5px solid green;
    width: 90px;
    height: 90px;
    margin: auto;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
ul.circle {
    list-style-type: circle;
}
ul.square {
    list-style-type: square;
}
ul.wimage {
    list-style-position: inside;
    list-style-image: url(../images/marine.png);
}
table {
    border-collapse: separate;
    border-spacing: 9px 10px;
    empty-cells: hide;
}
caption {
    caption-side: top;
}
a:hover {
    color: rebeccapurple
}
a:link {
    text-decoration: none;
}
p.cursor {
    cursor: move;
}