p.serif {
/*alternativas colocar entre virgula, se a fonte tiver mais de uma palavra usar aspas duplas*/
    font-family: "Times New Roman", Times, serif;
    font-size: small;
 }
 p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
    vertical-align: top;
 }
 p.monospace {
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: lighter;
 }
 p.cursive {
    font-family: Florence, cursive;
    font-size: x-large;
    font-weight: bold;
 }
 p.fantasy {
    font-family: Blippo, fantasy;
    font-size: 2em;
    font-weight: bolder;
    
 }
span.baseline {
    vertical-align: baseline;
}
span.sub {
    vertical-align: sub;
}
span.super {
    vertical-align: super;
}
span.pixel {
    vertical-align: -10px;
}